.nav-container {
  background-color: darkolivegreen;
  color: white;
  display: flex;


}
.nav-links {
  display: flex;
  justify-content: flex-end;
}
.link1, .link2, .link3 {
  text-decoration: none;
  color: white;
}